*.user
*.idb
*.log
*.obj
*.pdb
*.recipe
*.tlog
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vsidx
*.o
/AA/Demo1/Data
/AA/Support/LabelSets/_Win32Debug
/AA/Support/CardMgr/_Win32Debug
/AA/Support/BotEditor/_Win32Debug
/AA/Support/AudioMgr/_Win32Debug
/AA/Support/Hud/_Win32Debug
/AA/Support/MasterServer/_Win32Debug
/AA/Support/ObjectMgr/_Win32Debug
/AA/Support/Objects/Pickups/_Win32Debug
/AA/Support/Objects/Bot/_Win32Debug
/AA/Support/Objects/Player/_Win32Debug
/AA/Support/Objects/Vehicles/_Win32Debug
/AA/Support/Particles/_Win32Debug
/AA/Support/Shape/_Win32Debug
/AA/Support/GameMgr/_Win32Debug
/AA/Support/CleanText/_Win32Debug
/AA/Demo1/_Win32Debug
/AA/Support/Tokenizer/_Win32Debug
/AA/Support/Terrain/_Win32Debug
/AA/Support/UI/_Win32Debug
/AA/Support/StringMgr/_Win32Debug
/AA/Support/Poly/_Win32Debug
/AA/Support/Objects/Terrain/_Win32Debug
/AA/Support/Objects/Projectiles/_Win32Debug
/AA/Support/NetLib/_Win32Debug
/AA/Support/MoviePlayer/_Win32Debug
/AA/Support/Building/_Win32Debug
/AA/xCore/Auxiliary/Bitmap/_Win32Debug
/AA/xCore/x_files/_Win32Debug
/AA/xCore/Entropy/_Win32Debug
/AA/Support/Sky/_Win32Debug
/AA/Demo1/.vs/Demo1/v17
/AA/Support/UI/.vs
/AA/Support/NetworkMgr/_Win32Debug
/AA/Support/NetworkMgr/.vs/NetworkMgr/v17
